<div id="home">
  <div id="head-section">
    <div id="headers">
      <h1 id="site-header">Welcome to my reminders app</h1>
      <h3 id="site-description">Your friendly reminders helper</h3>
    </div>
  </div>
</div>
